div.for-category-show {
    margin-top: 70px;
    padding: 0;
}

.form-add-new-category div.form-group .form-control {
    border: 1px solid #000;

}

.form-add-new-category {
    padding: 20px;

}

.form-control:disabled, .form-control[readonly], label.form-control {
    background-color: transparent;
    border:none;
}

.box-edit-items .form-group {
    margin-bottom: 0;
}

.for-category-show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.box-action-items.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.box-action-items {
    display: none;
}

div.box-action-items a, div.box-action-items button {
    padding: 0.375rem 0.75rem;
}

div.form-group.each-category-items {
    padding: 10px;
    margin: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

div.box-edit-items textarea.form-control {
    height: fit-content;
}

div.box-button-update.active {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

div.box-button-update {
    display: none;
}

div.box-edit-items div.form-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}
label.form-control{
    margin: 0;
}

div.box-edit-items div.form-group div.col-10 {
    padding: 0;
}
div.box-action-items,div.box-button-update{
    margin-top: 20px;
}

